<div class="page-header">
  <h3>Userphoto #<%= @userphoto.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Review</dt>
      <dd>
        <% if @userphoto.review.present? %>
          <a href="/reviews/<%= @userphoto.review_id %>">
            <%= @userphoto.review.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Photo</dt>
      <dd><img src="<%= @userphoto.photo %>" class="img-responsive"></dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @userphoto.restaurant.present? %>
          <a href="/restaurants/<%= @userphoto.restaurant_id %>">
            <%= @userphoto.restaurant.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/userphotos" class="btn btn-primary">
        Back
      </a>
      <a href="/userphotos/<%= @userphoto.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_userphoto/<%= @userphoto.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
